@import "tailwindcss";

@theme {
  --color-graphite: #3a3a3a;
}

body {
  background-color: var(--color-graphite);
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}